/* You can add global styles to this file, and also import other style files */

/* @import 'tailwindcss'; */

@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

@source inline("bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,neutral}-{400,500}");

ion-button {
  margin-top: 0;
  margin-bottom: 0;
}

ion-header {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  @apply border-b border-(--ion-color-light-shade);
}

ion-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.custom-input {
  margin-top: 8px;

  --highlight-color-focused: var(--ion-color-primary);
  --highlight-color-valid: var(--ion-color-primary);
}

.custom-input {
  --background: transparent !important;
}
